html, body {
    font-family: 'Oswald', sans-serif !important;

}

.main-container{
    min-height: 80vh !important;
}

.comment.overflow{
    overflow-y: scroll !important;
    overflow-x: visible !important;
    max-height: 25 vh !important;
}