{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

<div class="container my-5">

    <h1 class="display-4 text-center text-black bg-light rounded shadow-lg my-5 mx-auto col-md-7">BACKOFFICE</h1>

        <div class="row justify-content-center">
            <ul class="list-group text-center">
                <li class="list-group-item"><a href="#" class="btn btn-primary">GESTION DES PRODUITS</a></li>
                <li class="list-group-item">A second item</li>
                <li class="list-group-item">A third item</li>
                <li class="list-group-item">A fourth item</li>
                <li class="list-group-item">And a fifth one</li>
            </ul>
        </div>

</div>

{% endblock %}
