<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Catégories</a>
        <div class="dropdown-menu">

            {% for c in categories.findAll() %}

                <a class="dropdown-item" href=""> {{ c.name|upper }}</a>

            {% endfor %}
            
        </div>
</li>